* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

html {
  height: 100%;
  background-color: blanchedalmond;
}

h1,
h3 {
  margin: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar,
.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar {
  background-color: darkseagreen;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.nav-left {
  flex: 1;
  font-size: 1.2rem;
}

.nav-right {
  width: 30vw;
  max-width: 150px;
  justify-content: space-around;
  font-size: 1rem;
}

.welcome {
  width: 100vw;
  max-width: 600px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.showroom-item > * {
  max-width: 10rem;
}

.showroom-item button {
  background-color: coral;
  padding: 5px;
  border-radius: 10px;
}

.showroom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  padding: 20px;
  gap: 20px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  max-width: 700px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.cart-item h4,
.cart-item div {
  padding: 5px;
}

.cart-item button {
  width: 30px;
  height: 20px;
  background-color: coral;
  border-radius: 10px;
}

.cart-item-name {
  width: 70%;
}

.bubble {
  background-color: red;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  color: white;
}

.cart-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
}
